:root {
	--anim-time-1: 0.11s;
	--anim-time-3: 0.33s;
	--anim-time-6: 0.66s;
	--anim-time-10: 1s;
}

.anim-1{
	transition: var( --anim-time-1 ) cubic-bezier(0.35, 0.025, 0.3, 1.1);
}
.anim-3{
	transition: var( --anim-time-3 ) cubic-bezier(0.35, 0.025, 0.3, 1.1);
}
.anim-6{
	transition: var( --anim-time-6 ) cubic-bezier(0.35, 0.025, 0.3, 1.1);
}
.anim-10{
	transition: var( --anim-time-10 ) cubic-bezier(0.35, 0.025, 0.3, 1.1);
}




/*transition anims */
.appear-enter-active {}
.appear-leave-active {}
.appear-enter, .appear-leave-to {
	opacity: 0;
	transform: translateY(-.33rem);
}

.slide-fade-enter-active {}
.slide-fade-leave-active {}
.slide-fade-enter, .slide-fade-leave-to {
	opacity: 0;
	transform: translateY(-.33rem);
}
/*transition anims */
	

.delay-1:nth-child(1){
	animation-delay: 0.1s;
}
.delay-1:nth-child(2){
	animation-delay: 0.2s;
}
.delay-1:nth-child(3){
	animation-delay: 0.3s;
}
.delay-1:nth-child(4){
	animation-delay: 0.4s;
}
.delay-1:nth-child(5){
	animation-delay: 0.5s;
}
.delay-1:nth-child(6){
	animation-delay: 0.6s;
}
.delay-1:nth-child(7){
	animation-delay: 0.7s;
}
.delay-1:nth-child(8){
	animation-delay: 0.8s;
}
.delay-1:nth-child(9){
	animation-delay: 0.9s;
}
.delay-1:nth-child(10){
	animation-delay: 1s;
}
.delay-1:nth-child(11){
	animation-delay: 1.1s;
}
.delay-1:nth-child(12){
	animation-delay: 1.2s;
}
.delay-1:nth-child(13){
	animation-delay: 1.3s;
}
.delay-1:nth-child(14){
	animation-delay: 1.4s;
}
.delay-1:nth-child(15){
	animation-delay: 1.5s;
}
.delay-1:nth-child(16){
	animation-delay: 1.6s;
}
.delay-1:nth-child(17){
	animation-delay: 1.7s;
}
.delay-1:nth-child(18){
	animation-delay: 1.8s;
}
.delay-1:nth-child(19){
	animation-delay: 1.9s;
}
.delay-1:nth-child(20){
	animation-delay: 2s;
}














.delay-2:nth-child(1){
	animation-delay: 0.2s;
}
.delay-2:nth-child(2){
	animation-delay: 0.4s;
}
.delay-2:nth-child(3){
	animation-delay: 0.6s;
}
.delay-2:nth-child(4){
	animation-delay: 0.8s;
}
.delay-2:nth-child(5){
	animation-delay: 1s;
}
.delay-2:nth-child(6){
	animation-delay: 1.2s;
}
.delay-2:nth-child(7){
	animation-delay: 1.4s;
}
.delay-2:nth-child(8){
	animation-delay: 1.6s;
}
.delay-2:nth-child(9){
	animation-delay: 1.8s;
}
.delay-2:nth-child(10){
	animation-delay: 2s;
}
.delay-2:nth-child(11){
	animation-delay: 2.2s;
}
.delay-2:nth-child(12){
	animation-delay: 2.4s;
}
.delay-2:nth-child(13){
	animation-delay: 2.6s;
}
.delay-2:nth-child(14){
	animation-delay: 2.8s;
}
.delay-2:nth-child(15){
	animation-delay: 3s;
}
.delay-2:nth-child(16){
	animation-delay: 3.2s;
}
.delay-2:nth-child(17){
	animation-delay: 3.4s;
}
.delay-2:nth-child(18){
	animation-delay: 3.6s;
}
.delay-2:nth-child(19){
	animation-delay: 3.8s;
}
.delay-2:nth-child(20){
	animation-delay: 4s;
}