
:root {

	--colour: hsl(250,50%,15%);
	--colour-inv: hsla(35,30%,90%,1);
	--colour-accent: hsla(100,50%,50%,1);
	
	--colour-button: hsla(33,20%,15%,1);


	/*--colour-outline: hsla(33,20%,15%,0.5);*/

/*	--colour-text-positive: hsla(100, 40%, 50%, 1.0);
	--colour-text-negative: hsla(1, 40%, 50%, 1.0);

	--colour-success: hsla(100, 35%, 80%, 1.0);
	--colour-warning: hsla(50, 55%, 80%, 1.0);

	

	--colour-input: hsla(1,1%,97%,0.66);*/



	/*--colour-panel-header: hsla(33,20%,15%,1);*/

	/*--colour-bg: hsla(177, 8%, 53%, 1.0);*/
	/*--colour-nav: hsla(177, 10%,35%, 1.0);*/



	/*--colour-hover: hsla(177,50%,50%,0.5);*/
	/*--colour-focus: hsla(177,50%,50%,0.75);*/


	/*--colour-panel: hsla(30, 10%, 96%, 1.0);*/
	
	/*--colour-input: hsla(177, 10%, 85%, 1.0);*/
	/*--colour-input-pre: hsla(177, 10%, 92%, 1.0);*/
	/*--colour-input-focus: hsla(177, 33%, 80%, 1.0);*/
	/**/
	/*--colour-button: hsla(177, 8%, 20%, 1.0);*/
	/*--colour-button-focus: hsla(177, 40%, 40%, 1.0);*/

	/*--colour-shadow: hsla(177, 8%, 20%, 0.5);*/
	
	/*--colour-text-light: hsla(30, 10%, 96%, 1.0);*/
	/*--colour-text-dark: hsla(177, 8%, 20%, 1.0);*/


	

	/*--colour-error: hsla(1, 35%, 80%, 1.0);*/

}




.header.colour-minor, .title.colour-minor, .text.colour-minor{
	fill: hsla(200,5%,50%,1);
	color: hsla(200,5%,50%,1);
}

.colour-accent {
	background-color: var( --colour-accent ) !important;
}
.colour-fill-accent {
	color: var( --colour-accent ) !important;
	fill: var( --colour-accent ) !important;
}



.colour-bg {
	background-color: var( --colour );
}
.colour-bg-inv {
	background-color: var( --colour-inv );
}
.colour-fill-bg {
	color: var( --colour );
	fill: var( --colour );
}
.colour-fill-bg-inv {
	color: var( --colour-inv );
	fill: var( --colour-inv );
}


.z-inverse .colour-bg{
	background-color: var( --colour-inv );
}
.z-inverse .colour-bg-inv{
	background-color: var( --colour );
}
.z-inverse .colour-fill-bg{
	color: var( --colour-inv );
	fill: var( --colour-inv );
}
.z-inverse .colour-fill-bg-inv{
	color: var( --colour );
	fill: var( --colour );
}








